<h1>Welcome to Chatarea!</h1>
<p class="lead">
    Explore new channels and join them to have a fun filled chat experience with random users of this site.<br />
    Let's have some fun !!!
</p>
<hr />

<div class="d-block text-right">
    <%= link_to "View all chatareas", chatareas_path, class: "btn btn-primary btn-sm" %>
</div>
